.container.j-m-t-large{style: "height: 500px; padding: 0; border-radius: 10px;"}
  %div{style: "background-image: url(#{asset_path 'prius.jpg'}); height: 100%; background-size: cover; background-position: center; border-radius: 10px;"}
    %div{style: "height: 100%; width: 100%; top: 0, left: 0; background-color: rgba(0,0,0,0.10); color: #e7eaed;"}
      %h1{style: "text-align: center; padding-top: 2.5%; color: white; font-size: 55px; margin-top: 0"}
        Get in your Prius Today!

.container.j-m-t-large.j-m-b-large{style: "background-color: white; border-radius: 10px;"}
  %h2{style: "text-align: center; color: #2f4f4f;"}
    Statistics!
  .row
    .col-md-6
      %h4
        Utilization Rate
      = form_tag({controller: "homepage", action: "home"}, method: "post") do
        = label_tag(:q, "Start")
        = date_field_tag "utilization[search_date_start]"
        = label_tag(:q, "End")
        = date_field_tag "utilization[search_date_end]"
        = submit_tag("Search")
      - if @utilization
        %h4
          ="#{(@utilization * 100).round(2)}% Utilization"
     
    .col-md-6
      %h4
        Available Car(s)
      = form_tag({controller: "homepage", action: "home"}, method: "post") do
        = label_tag(:q, "Date")
        = date_field_tag "available[search_date]"
        = submit_tag("Search")
      - if @available
        %h4
          ="#{pluralize(@available, 'car')} available"