<%= flash[:notice] %>

<table border = "1" style="width= 100%">
  <tr>
    <td>User Id.</td>
    <td>Car</td>
    <td>Link</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.car ? user.car.id : "NA" %></td>
      <td><%= link_to "link", user %></td>
    </tr>
  <% end %>
</table>

<%= form_for :user, :url => users_path do |f| %>
  <%= f.submit 'Create New User' %>
<% end %>