.container.j-m-t-large.j-m-b-large.j-p-medium{style: "background-color: white; border-radius: 5px;"}
  = flash[:notice]
  %h1.j-tc.j-p-b-medium.j-b-b{style: "color: #2f4f4f;"}
    = "User: #{@user.id}"

  .col-md-4.j-b-r.j-tc.j-p-medium
    %img{src: "#{asset_path 'user.png'}", style: "width: 200px; border-radius: 10px"}
    - if @user.car
      %h4= "Status: Occupying car ##{@user.car.id}"
    - if @user.car && !@user.has_return?
      = form_for :transaction, :url => transactions_path do |f|
        = f.date_field :ex_date, placeholder: 'Return Date'
        = f.hidden_field :event_type, value: 'return'
        = f.hidden_field :car_id, value: @user.car.id
        = f.submit 'Return Vehicle'
    - elsif @user.has_return?
      - curr_trans = @user.current_transaction
      %h4= "Returning Car: #{curr_trans.car_id} | For Date: #{curr_trans.ex_date.to_date}"
    - elsif @user.has_reservation?
      - curr_trans = @user.current_transaction
      %h4= "Reserved Car: #{curr_trans.car_id} | For Date: #{curr_trans.ex_date}"
    - else
      - if @available_car
        %h4= "Reserve Car: #{@available_car.id}"
        = form_for :transaction, :url => transactions_path do |f|
          = f.date_field :ex_date, placeholder: 'Reserve Date'
          = f.hidden_field :event_type, value: 'reserve'
          = f.hidden_field :car_id, value: @available_car.id
          = f.hidden_field :user_id, value: @user.id
          = f.submit 'Reserve Vehicle'
      - else
        %h4 There are no cars available to reserve!
  .col-md-8
    %h2{style: "text-align: center; color: #2f4f4f;"}
      Transaction History
    %div
      %div.j-fw-bold.j-fs-large.j-tc
        .col-md-3
          Type
        .col-md-3
          Opened Date
        .col-md-3
          Car
        .col-md-3
          Closed Date
      - @transactions.each_with_index do |t, i|
        %div.j-tc
          - color = "#{i.even? ? "j-bg-light" : "j-bg-white"}"
          .col-md-3{class: color}
            = t.event_type
          .col-md-3{class: color}
            = t.created_at.to_date
          .col-md-3{class: color}
            = t.car_id
          .col-md-3{class: color}
            = t.close_date.try(:to_date) || "NA"