<%= flash[:notice] %>

<table border = "1" style="width= 100%">
  <tr>
    <td>Car Id.</td>
    <td>Status</td>
    <td>User</td>
    <td>Link</td>
  </tr>
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.id %></td>
      <td><%= car.status %></td>
      <td><%= car.user_id ? car.user_id : "NA" %></td>
      <td><%= link_to "link", car %></td>
    </tr>
  <% end %>
</table>

<%= form_for :car, :url => cars_path do |f| %>
  <%= f.submit 'Buy New Car' %>
<% end %>